<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddokkang.sdp1.board.BoardMapper">
	
	<insert id="regist" parameterType="com.ddokkang.sdp1.board.Board">
		insert into sdproj_board values(sdproj_board_seq.nextval, #{b_writer}, #{b_when}, #{b_text}, #{b_s_no})
	</insert>

	<select id="getBoards" resultType="com.ddokkang.sdp1.board.Board"
		parameterType="com.ddokkang.sdp1.board.Board">
		select * from sdproj_board where b_s_no = #{b_s_no} order by b_when desc
	</select>
	
	<update id="change" parameterType="com.ddokkang.sdp1.board.Board">
		update sdproj_board set b_when = #{b_when}, b_text = #{b_text} 
			where b_no = #{b_no} and b_s_no = #{b_s_no} 
	</update>
	
	<delete id="drop" parameterType="com.ddokkang.sdp1.board.Board">
		delete from sdproj_board where b_no = #{b_no}
	</delete>
	
	<select id="getPageBoards" resultType="com.ddokkang.sdp1.board.Board" 
		parameterType="com.ddokkang.sdp1.board.Board">
		select * from ( 
	        select rownum as rn, b_no, b_writer, b_when, b_text, b_s_no
	        from ( 
	            select * 
	            from sdproj_board 
	            where b_s_no = #{b_s_no} 
	            order by b_when desc 
	        ) 
	    )
	    where rn between #{start} and #{end}
	</select>
	
	<select id="countBoard" resultType="java.lang.Integer"
		parameterType="com.ddokkang.sdp1.board.Board">
		select count(*) from sdproj_board where b_s_no = #{b_s_no}
	</select>

</mapper>