<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddokkang.sdp1.member.MemberMapper">
	<insert id="signUp" parameterType="com.ddokkang.sdp1.member.Member">
		insert into sdproj_member values(#{m_id}, #{m_pw}, #{m_name}, #{m_phone})
	</insert>
	<select id="checkId" resultType="java.lang.String"
		parameterType="com.ddokkang.sdp1.member.Member">
		select m_id from sdproj_member where m_id = #{m_id}
	</select>
	
	<select id="checkPhone" resultType="java.lang.String"
		parameterType="com.ddokkang.sdp1.member.Member">
		select m_phone from sdproj_member where m_phone = #{m_phone}
	</select>

	<select id="login" resultType="com.ddokkang.sdp1.member.Member" 
		parameterType="com.ddokkang.sdp1.member.Member">
		select * from sdproj_member where m_id = #{m_id}
	</select>
	
	<update id="change" parameterType="com.ddokkang.sdp1.member.Member">
		update sdproj_member set m_pw = #{m_pw}, m_name = #{m_name}, m_phone = #{m_phone} where m_id = #{m_id}
	</update>

	<delete id="drop" parameterType="com.ddokkang.sdp1.member.Member">
		delete from sdproj_member where m_id = #{m_id}
	</delete>

	<select id="findId" resultType="com.ddokkang.sdp1.member.Member" 
		parameterType="com.ddokkang.sdp1.member.Member">
		select * from sdproj_member where m_phone = #{m_phone}
	</select>

	<select id="findPw" resultType="com.ddokkang.sdp1.member.Member" 
		parameterType="com.ddokkang.sdp1.member.Member">
		select * from sdproj_member where m_phone = #{m_phone} and m_id = #{m_id}
	</select>
</mapper>

	